<% provide(:title, "About") %>
<h5>About 本アプリについて</h5>
<p>
  本アプリTRADENTS(Trade × Students)は、名古屋の大学生を対象にしたフリーマーケット（フリマ）アプリです。大学生活において、同じ環境で生活するということは、似たようなもの(教科書セットなど)を必要とするのではないかと思い、
  このアプリを開発いたしました。また、同じ大学生同士であれば、商品の受け渡しも比較的安心して行っていただけるのではないかと思います。なお、学生メールと大学名が一致している方には認証バッジがつき、大学関係者であることを示すことができます。
  現在、仲介料は一切取っておりませんが、商品の受け渡しはお客様間で行っていただきます。
  このアプリを通して商品を売買することで、皆様の充実した大学生活を少しでも助けられれば、と思います。
  運営へのお問い合わせは、<%= link_to "お問い合わせページ", contact_index_path%>よりお願いします。なお、お客様間で発生したトラブルにつきましては、本運営は、一切責任を負いませんので、ご了承願います。
</p>