<% provide(:title, "アプリの使い方") %>
<h5>アプリの使い方</h5>

<div class='multipletab col-xs-12 col-sm-12'>
    
  <div class='tab-buttons'>
    
    <span id='content1' class="col-xs-6 col-md-3">買う</span>
    <span id='content2' class="col-xs-6 col-md-3">売る</span>
    <span id='content3' class="col-xs-6 col-md-3">お気に入り登録</span>
    <span id='content4' class="col-xs-6 col-md-3">通知</span>
    <span id='content5' class="col-xs-6 col-md-3">相談メール</span>
    <!--add more button right after it with same id attribute of that container. Make sure to use span tag.-->
  </div>
  <div class='tab-content'>
    
    <div id='content1'>tab1</div>
    <div id='content2'>tab2</div>
    <div id='content3'>tab3</div>
    <div id='content4'>tab4</div>
    <div id='content5'>tab5</div>
    <!--add more container right after it with same id attribute of that button. Make sure to use div tag.-->
  </div>
  <div class='tab-nav'>
    <span class='next'></span>
    <span class='prev'></span>
  </div>
</div>