<div class="center jumbotron">
  <div class="main-img">
    学生間での助け合い
    <img src="../../assets/images/72538c8c0f532ef4944991779acd2672_m.jpg">
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6">
    <h1>この条件で検索しています</h1>
      <% unless params[:q][:name_cont].empty? %>
          <p>タイトル：<%= params[:q][:name_cont] %></p>
      <% end %>  
      <br>
      <% unless params[:q][:genres_id_in].reject(&:blank?).empty? %>
          <p>ジャンル：<%= params[:q][:genres_id_in].reject(&:blank?).map{|genre_id| Genre.find(genre_id).name}.join(', ') %></p>
      <% end %>
  </div>    
  
  <%= render "microposts/micropost", microposts: @result_microposts %>
</div>
