<div class="center jumbotron">
  <div class="main-img">
    学生間での助け合い
    <img src="../../assets/images/72538c8c0f532ef4944991779acd2672_m.jpg">
  </div>
  
  <%= render "microposts/micropost", microposts: @microposts %>
</div>
