<%= form_for message, :url => {:action => :create} do |f| %>
  <div class="field">
    <%= f.label :content, "メッセージ入力" %>
    <%= f.text_area :content, placeholder: "メッセージを入力しましょう。", class: "form-control" %>
  </div>
  <%= button_tag :type => "submit", :class =>"btn btn-info" do %>
    送信 <i class="fa fa-paper-plane"></i>
  <% end %>
<% end %>