<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8"/>
</head>
<h1>Sample App</h1>

<p>ご利用ありがとうございます。 <%= @user.name %>様。</p>

<p>
リンクをクリックし、アカウント登録を確認していただくと、会員登録が完了致します。
</p>

<%= link_to "アカウント登録を確認する。", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>