<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8"/>
</head>
<h1>Tradents</h1>

<p>Tradentsのご利用ありがとうございます。 <%= @user.display_name %>様。</p>

<p>
リンクをクリックし、アカウント登録を確認していただくと、会員登録が完了致します。なお、本メールには、返信できませんのでご了承ください。
</p>

<%= link_to "アカウント登録を確認する。", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>