<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8"/>
</head>
<h1>パスワード再設定メール</h1>

<p>パスワード再設定を行うには、下記のリンクをクリックしてください。</p>

<%= link_to "パスワードの再設定を確認", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは発効から2時間有効です。2時間以内に再設定を行ってください。</p>

<p>
  もし、このメールに身の覚えがない場合は、無視してください。クリックしない場合、あなたのパスワードは変更されません。
</p>