@charset "UTF-8";
/* line 4, app/assets/stylesheets/messages.scss */
.visiter {
  display: block;
  float: left;
}

/* line 9, app/assets/stylesheets/messages.scss */
.owner {
  display: block;
  float: right;
}

/* line 14, app/assets/stylesheets/messages.scss */
.nav-tabs li {
  padding: 0;
}

/* line 17, app/assets/stylesheets/messages.scss */
.nav-tabs a {
  text-align: center;
}

/* line 21, app/assets/stylesheets/messages.scss */
.message-template,
.favorite-template {
  display: none;
}

/* line 29, app/assets/stylesheets/messages.scss */
.message-list {
  max-width: 650px;
  min-height: calc(100vh - 51px - 46px + 6px);
  margin: 0 auto 40px auto;
  padding: 10px 10px 6px 10px;
  border-width: 0 1px;
  border-style: solid;
  border-color: #ccc;
  background-color: #f7f7ff;
}

/* line 40, app/assets/stylesheets/messages.scss */
.message {
  clear: both;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 20px 0;
}

/* line 46, app/assets/stylesheets/messages.scss */
.message__user-name {
  font-size: 0.8rem;
}

/* line 50, app/assets/stylesheets/messages.scss */
.message__body {
  position: relative;
  max-width: 50vw;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #e7e7e7;
}

/* line 59, app/assets/stylesheets/messages.scss */
.message__text,
.favorite__text {
  font-size: 100%;
  font-weight: bold;
}

/* line 65, app/assets/stylesheets/messages.scss */
.message__info,
.favorite__info {
  text-align: right;
}

/* line 70, app/assets/stylesheets/messages.scss */
.message__time,
.favorite__time {
  font-size: 0.8rem;
  color: #787878;
}

/* line 76, app/assets/stylesheets/messages.scss */
.message--received .message__body {
  background-color: #e7e7e7;
}

/* line 80, app/assets/stylesheets/messages.scss */
.message--sent .message__body {
  background-color: #d9f3d8;
}

/* line 84, app/assets/stylesheets/messages.scss */
.message--received .message__profile,
.message--received .message__body {
  float: left;
}

/* line 89, app/assets/stylesheets/messages.scss */
.message--sent .message__profile,
.message--sent .message__body {
  float: right;
}

/* line 94, app/assets/stylesheets/messages.scss */
.message--received .message__profile {
  margin-right: 18px;
  width: 46px;
}

/* line 99, app/assets/stylesheets/messages.scss */
.message--sent .message__profile {
  margin-left: 18px;
  width: 46px;
}

/* line 104, app/assets/stylesheets/messages.scss */
.message--received .message__body {
  border-radius: 0 6px 6px 6px;
}

/* 三角形の耳 */
/* line 109, app/assets/stylesheets/messages.scss */
.message--received .message__body:before {
  position: absolute;
  top: 0;
  left: -10px;
  content: " ";
  border-width: 10px 0 0 10px;
  border-style: solid;
  border-color: #e7e7e7 transparent;
}

/* line 119, app/assets/stylesheets/messages.scss */
.message--sent .message__body {
  border-radius: 6px 0 6px 6px;
}

/* 三角形の耳 */
/* line 124, app/assets/stylesheets/messages.scss */
.message--sent .message__body:after {
  position: absolute;
  top: 0;
  right: -10px;
  content: " ";
  border-width: 10px 10px 0 0;
  border-style: solid;
  border-color: #d9f3d8 transparent;
}

/* line 134, app/assets/stylesheets/messages.scss */
.comment-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

/* line 143, app/assets/stylesheets/messages.scss */
.message .img-circle {
  width: 46px;
}

/* line 146, app/assets/stylesheets/messages.scss */
.messages-received {
  display: inline;
}

/* line 151, app/assets/stylesheets/messages.scss */
.messages--received:after, .messages--received:before {
  clear: both;
  content: "";
  display: block;
}

/* line 156, app/assets/stylesheets/messages.scss */
.messages--sent:after, .messages--sent:before {
  clear: both;
  content: "";
  display: block;
}

/* line 161, app/assets/stylesheets/messages.scss */
.tab-content > .active {
  display: contents;
}

/* line 164, app/assets/stylesheets/messages.scss */
.message_form {
  clear: both;
}

/* line 168, app/assets/stylesheets/messages.scss */
.sent_message_time {
  position: absolute;
  width: max-content;
  left: -96px;
  bottom: 2px;
}

/* line 175, app/assets/stylesheets/messages.scss */
.received_message_time {
  position: absolute;
  width: max-content;
  right: -96px;
  bottom: 2px;
}
