@charset "UTF-8";
/* line 4, app/assets/stylesheets/microposts.scss */
.micropost-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* line 9, app/assets/stylesheets/microposts.scss */
.micropost {
  width: 15vw;
  background: #fff;
  margin: 0;
  padding: 4vh;
  text-decoration: none;
}

/* line 16, app/assets/stylesheets/microposts.scss */
.micropost div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 21, app/assets/stylesheets/microposts.scss */
.micropost img {
  width: 100%;
}

/* line 24, app/assets/stylesheets/microposts.scss */
#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

/* line 34, app/assets/stylesheets/microposts.scss */
#graydisplay > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40vw;
  padding: 10vw;
}

@media (max-width: 895px) {
  /* line 46, app/assets/stylesheets/microposts.scss */
  #graydisplay > img {
    width: 90%;
  }
}

/* line 50, app/assets/stylesheets/microposts.scss */
#user-info-wrapper {
  z-index: -1;
}

/* line 53, app/assets/stylesheets/microposts.scss */
.name {
  color: #000;
  font-size: 120%;
}

/* line 57, app/assets/stylesheets/microposts.scss */
.price {
  font-weight: bold;
  color: red;
}

/* line 62, app/assets/stylesheets/microposts.scss */
.timestamp {
  font-size: 80%;
  color: gray;
}

/* line 66, app/assets/stylesheets/microposts.scss */
.sold {
  border: #eee 1px solid;
  margin: 0 auto;
  position: relative;
  background-color: #000;
  background-color: black;
}

/* line 73, app/assets/stylesheets/microposts.scss */
.sold::before {
  content: "";
  top: 0;
  left: 0;
  border-bottom: 4em solid transparent;
  border-left: 4em solid #fa5e5e;
  /* ラベルの色はここで変更 */
  position: absolute;
  z-index: 100;
}

/* line 82, app/assets/stylesheets/microposts.scss */
.sold::after {
  content: "sold";
  display: block;
  top: 5px;
  transform: rotate(-45deg);
  color: #fff;
  /* 文字色はここで変更 */
  left: 0;
  position: absolute;
  z-index: 101;
}

/* line 92, app/assets/stylesheets/microposts.scss */
.sold:first-child .item-picture {
  opacity: 0.6;
}

/* line 95, app/assets/stylesheets/microposts.scss */
.item img {
  width: 100%;
}

/* line 98, app/assets/stylesheets/microposts.scss */
.main-img {
  position: relative;
}

/* line 101, app/assets/stylesheets/microposts.scss */
.main-img h1 {
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 0px 1px 0 #000, -1px 0 #000, -1px 0 0 #000, 1px 0 0 #000;
  font-size: 2.3em;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: 8px;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* line 117, app/assets/stylesheets/microposts.scss */
.container-fluid {
  padding: 0;
}

/* line 120, app/assets/stylesheets/microposts.scss */
.main-img {
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url(campus.jpg);
  object-fit: cover;
  padding: 0;
}

/* line 130, app/assets/stylesheets/microposts.scss */
.main-img::before {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

/* line 140, app/assets/stylesheets/microposts.scss */
.microposts-guide {
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  border-bottom: 2px solid #ddd;
  padding: 2vh 0;
}

/* line 148, app/assets/stylesheets/microposts.scss */
.search-query {
  font-size: 0.75em;
  color: #000;
  opacity: 0.5;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  /* line 155, app/assets/stylesheets/microposts.scss */
  .micropost {
    width: 28vw;
    font-size: 100%;
    padding: 2vh;
  }
  /* line 160, app/assets/stylesheets/microposts.scss */
  .item img {
    width: 100%;
  }
  /* line 163, app/assets/stylesheets/microposts.scss */
  .main-img {
    height: 30vh;
  }
  /* line 166, app/assets/stylesheets/microposts.scss */
  header a {
    font-size: 0.8em;
  }
  /* line 169, app/assets/stylesheets/microposts.scss */
  .main-img h1 {
    font-size: 1.2em;
    width: 250px;
    letter-spacing: 1px;
  }
  /* line 174, app/assets/stylesheets/microposts.scss */
  .price {
    font-size: 80%;
  }
}
