<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8"/>
</head>
<h1><%= @send_user.name %>からの相談メールが届きました</h1>
<p>メール日時：<%= @message.created_at.strftime('%m/%d %H:%M') %></p>
<div class="noti-message">
  <%= @message.content %>
</div>
<p><%= link_to "#{@send_user.name}との相談ルームへはこちら", user_messages_path(@send_user) %></p>

<p>なお、このメールには返信できませんのでご注意ください。</p>