<h5><%= @send_user.name %>からのメッセージが届きました。</h5>
------------------------------------------------
<div class="noti-message">
  <%= @message.content %>
</div>

------------------------------------------------