@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-social";
/* universal */
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.wrapper-container{
  padding-top: 5vh;
  width: 100vw;
  margin: 0;
}

.navbar-fixed-top {
  border-bottom: 2px #ddd solid;
}

.g-nav{
  padding: 0;
 	display: table;
 	table-layout: fixed;
 	text-align: center;
 	width: 100%;
}
.g-nav li{
 	display: table-cell;
 	vertical-align: middle;
 	border: 1px solid #FFF;
}
.g-nav li a{
  background: #fff;
	color:#000;
	text-decoration: none;
}
.g-nav li> a:before{/*ナビゲーションメニュー共通の設定*/
  display: block;
	font-family: FontAwesome;
	font-size: 1.5em;
	padding-right: 10px;
	border-right: 0.5px solid #000;
}
.search > a:before {/*各項目ごとのアイコン設定*/
	content: '\f002';
}
.login > a:before {/*各項目ごとのアイコン設定*/
	content: '\f07a';
}
body {
  padding-top: 60px;
  // padding-top: 0;
}
.signup > a:before {/*各項目ごとのアイコン設定*/
	content: '\f234';
}
.plus > a:before{
  content: '\f067';
}
.bell > a:before{
  content: '\f0f3';
}

.dot{
  color:#5bc0de;
}
.fa-stack {
  font-size: 80%;
  position: absolute;
  right: 29%;
  bottom: 46%;
}
.notification-number{
  color:#fff;
}
.mail > a:before{
  content: '\f0e0';
}
.mypage > a:before{
  content: '\f007';
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h5 {
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  border-bottom: 2px solid #ddd;
  padding: 2vh 0;
}
@media (max-width:767px) {
  h5{
    padding-top: 50px;
  }
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
h3{
  font-size: 4vmin;
  text-align: center;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
header {
  background: #fff;
}
#logo {
  // float: left;
  margin-right: 10px;
  font-size: 2.0em;
  font-family: "UD デジタル 教科書体 NK-B","UD Digi Kyokasho NK-B";
  color: red;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000;
}

#logo img{
  width: 20%;
}
#logo:hover {
  color: red;
  text-decoration: none;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
ol{
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
.icon{
  border-style: none;
  background: #fff;
}
.fa-star{
  color: orange;
}
@media (max-width:767px) {
  #logo img{
    width: 35%;
  }
}


// ハンバーガーメニュー関連

@media (max-width:896px) {
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: fixed;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 26.4px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f50b0c;
    border-radius: 4px;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 10px;
  }
  .menu-trigger span:nth-of-type(3) {
    top: 22px;
  }
  
  .menu-trigger::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: '';
    display: block;
    width: 100%;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    transition: all .4s;
  }
  .menu-trigger.active_menu::after {
    content: '';
    bottom: -25px;
  }
  .menu-trigger.active_menu span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
  .menu-trigger.active_menu span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger.active_menu span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(45deg);
    transform: translateY(-12px) rotate(45deg);
  }
  
  // @media (max-width:767px) {
    // .menu_btn {
    // position: fixed;
    // right: 10px;
    // top: 10px;
    // }
  // }
  
  // @media (min-width:1000px) {
  //   .menu_btn {
  //     display: none;
  //   }
  //   #menu{
  //     display: none;
  //   }
  // }
  
  
  #menu {
    width: 250px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translateX(250px); /* right0から250px移動した位置 */
    transition: all .5s; /* 移動する速さ */
  }
  
  #menu > ul {
    border-bottom: 1px solid #ddd;
    list-style: none;
  }
  
  #menu-ul > li{
    border-bottom: 1px solid #ddd;
    font-size: 1.5em;
    margin-top: 2vh;
  }
  
  #menu.open {
    transform: translateX(0); /* right0まで-250px移動 */
  }
  
  .menu-background {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0; /* 透明度を0にすることで隠す */
    transition: opacity 0.5s; /* 透明度の0→1になる速度 */
  }
  
  .menu-background.open {
    width: 100%;
    height: 100%;
    opacity: 1; /* メニューが表示されているときには背景が表示 */
  }
  .fa-repeat{
    font-size: 200%;
    position: fixed;
    right: 59px;
    top: 7px;
    color: #f50b0c;
  }
}

@media (min-width:897px){ /* 画面が大きくなるとハンバーガーメニュー/reloadは消える */
  .menu-trigger, #menu, .menu-background, .fa-repeat {
    display: none;
  }
}
//検索ボタン
@media (max-width:896px){
  .modal-content{
    height: 590px;
  }
}
@media (min-width:897px){
  .modal-content{
    height: 485px;
  }
}
