// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.micropost-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.micropost{
 width: 15vw;
 background: #fff;   
 margin: 0;
 padding: 4vh;
 text-decoration: none;
}
.micropost div{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.micropost img{
  width: 100%;
}
.name{
  color: #000;
  font-size: 120%;
}
.price{
  // font-size: 10%;
  font-weight: bold;
  color: red;
}
.timestamp{
  font-size: 80%;
  color: gray;
}
.sold{
  border: #eee 1px solid;
  margin: 0 auto;
  position: relative;
  background-color: #000;
  background-color: black;
}
.sold::before{
  content: "";
  top: 0;
  left: 0;
  border-bottom: 4em solid transparent;
  border-left: 4em solid #fa5e5e; /* ラベルの色はここで変更 */
  position: absolute;
  z-index: 100;
}
.sold::after{
  content: "sold";
  display: block;
  top: 5px;
  transform: rotate(-45deg);
  color: #fff; /* 文字色はここで変更 */
  left: 0;
  position: absolute;
  z-index: 101;
}
.sold:first-child .item-picture{
  opacity: 0.6;
}
.item img{
  width: 100%;
}
.main-img{
  position: relative;
}
.main-img h1{
  color: #fff;
  text-shadow:1px 1px 0 #000, -1px -1px 0 #000,
              -1px 1px 0 #000, 1px -1px 0 #000,
              0px 1px 0 #000,  0-1px 0 #000,
              -1px 0 0 #000, 1px 0 0 #000;
  font-size: 2.3em;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  letter-spacing: 8px;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.container-fluid{
  padding: 0;
}
.main-img{
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url(campus.jpg);
  object-fit: cover;
  padding: 0;
}
.main-img::before{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

.microposts-guide{
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
    padding: 2vh 0;
}

.search-query{
  font-size: 0.75em;
  color: #000;
  opacity: 0.5;
  letter-spacing: 1px;
}
@media (max-width:767px) {
  .micropost{
  width: 28vw;  
  font-size: 100%;
  padding: 2vh;
  }
  .item img{
    width: 100%;
  }
  .main-img{
    height: 30vh;
  }
  header a{
    font-size: 0.8em;
  }
  .main-img h1{
    font-size: 1.2em;
    width: 250px;
    letter-spacing: 1px;
  }
  .price{
    font-size: 80%;
  }
}

