// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.micropost{
 background: #fff;   
 margin: 2vw;
 padding: 2vh;
 text-decoration: none;
}
.name{
  color: #000;
  font-size: 120%;
}
.price{
  font-size: 150%;
}
.timestamp{
  font-size: 80%;
  color: gray;
}