// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer{
  margin-top: 5vh;
  height: 10vh;
  border-top: 2px #ddd solid;
}
.copy-right p{
  text-align: center;
}
.footer-guide li{
  font-size: 130%;
  list-style: none;
  text-decoration: none;
  float: right;
  color: #ddd;
  padding-right: 3vw;
}
@media (max-width:895px){
  .footer-guide li{
    font-size: 80%;
  }
}
.footer-guide{
  height: 30px;
}

.multipletab{
  // width:50%;
  margin:0 auto;
  // background:#eee;
  overflow:hidden;
  position:relative;
}
.tab-buttons{
  display:inline-block;
  width:100%;
  border-bottom:2px solid #ff0000cc;
}
.tab-buttons>span{
  display: block;
  float: left;
  cursor: pointer;
  color: #337ab7;
  font: 400 15px 'pt sans',sans-serif;
  background: #fff;
  padding: 0 15px;
  line-height: 40px !important;
  text-align: center;
}
.tab-buttons>span.active{
  // background: #ff00004d;
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.tab-contents{
  position:relative;
}
.tab-contents>div{
  position:absolute;
}


.content-list{
  list-style: none;
}

.content-image > img{
  width: 100%;
}
.tab-content > ul{
  padding: 0;
}
ul.content-list{
  padding: 0;
}
.tab-content{
  padding: 0;
}
// .tab-nav{
//   opacity:0;
//   transition:all .3s linear;
//   -moz-transition:all .3s linear;
//   -webkit-transition:all .3s linear;
// }
// .multipletab:hover .tab-nav{
//   opacity:1;
// }
// .tab-nav>span{
//   position:absolute;
//   top:50%;
//   cursor:pointer;
//   display:block;
//   height:35px;
//   width:35px;
// }
// .tab-nav>span.next{
//   right:10px;
//   background:#666 url(https://lh4.googleusercontent.com/S2yrb7GoLLN7s1-NmlkE_nS9Svzr5DQNM3dcCCp2Occ=s25-no) no-repeat;
//   background-position:5px;
// }
// .tab-nav>span.prev{
//   left:10px;
//   background:#666 url(https://lh5.googleusercontent.com/-zhCZ92aPJSo/UzumzhVUMDI/AAAAAAAAEjA/Op4ySNrW3tk/s25-no/Left+Arrow.png) no-repeat;
//   background-position:5px;
// }