// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-info{
  padding: 20px;
  background: #ddd;
}
.user-info{
  padding: 20px;
  background: #fff;
  text-align: center;
}
.user-name{
  text-align: center;
}
.user-img img{
  width: 150px;
  height: auto;
}
.user-img-small img{
  width: 75px;
}
@media (max-width:767px) {
  .user-img-small img{
    width: 40px;
  }
}
