// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-info{
  padding: 20px;
  background: #fff;
}
.user-info{
  padding: 20px;
  background: #fff;
  text-align: center;
}
.user-name{
  text-align: center;
}
.user-img img{
  width: 150px;
  height: auto;
  // position: relative;
  // right: 10px;
  // vertical-align: bottom;
}
.user-img-small img{
  width: 50px;
  margin-right: 5px;
}
@media (max-width:767px) {
  .user-img-small img{
    width: 40px;
  }
}
.male{
  color: #497fe6;
}
.female{
  color: #e85fbd;
}
.profile-inner div{
  font-size: 80%;
}
.profile-group{
  padding: 1vh;
}
