<footer class="footer">
<div>  
  <div class="gide">
    <li><%= link_to "Contact", contact_index_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "About", about_path %></li>
  </div>
</div>  
<div class="copy-right">
  <p>&copy; 2019 Tradents</p>
</div>
</footer>