<footer class="footer">
<div>  
  <div class="footer-guide">
    <li><%= link_to "お問い合わせ", contact_index_path %></li>
    <li><%= link_to "よくある質問", help_path %></li>
    <li><%= link_to "アプリの使い方", guide_path %></li>
    <li><%= link_to "アプリ概要", about_path %></li>
  </div>
</div>  
<div class="copy-right">
  <p>&copy; 2019 Tradents</p>
</div>
</footer>